p{
   color: rgb(255, 255, 255); 
   text-align: center;
}

input{
  color: rgb(255, 255, 255);
  align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 1;
  }

.sendButton{
  margin: 0.8cm 3cm 2cm 3cm;
}

h3{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1cm;
}

  ion-content{
    --background: url('../theme/cinemaphoto.jpg')

  }

  ion-title{
    font-size: 25px;
    text-align: center;
  }


